body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header */

#nav-menu {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-left: 20px;
    font-family: 'Dancing Script', cursive;
}
#logo a{
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: 0.4s ease;
}
#logo a:hover {
    color: rgb(58, 211, 58);
    text-shadow: 1px 1px 7px white;
}

.menu {
    width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    padding: 20px;
    transition: 0.4s ease;
}

.menu a:hover {
    text-shadow: 1px 1px 7px white;
}



/* Footer */

footer {
    background-color: black;
    padding: 20px;
    margin-top: 20px;
    color: white;
}

.map-menu {
    display: flex;
    justify-content: space-between;
}
.map-menu ul {
    list-style: none;
}
.map-menu li {
    margin: 20px 0px;
}
.map a{
    text-decoration: none;
    color: white;
}
.social a{
    color: white;
    font-size: 15pt;
    transition: 0.4s ease;
}
.social a:hover {
    text-shadow: 1px 1px 7px white;
}
.copyright {
    text-align: center;
}


/* Button Menu */
.btn-menu {
    background-color: black;
    color: white;
    border: none;
    font-size: 15pt;
    display: none;
}


/* Responsive Menu*/
@media(max-width: 700px) {
    .menu {
        position: absolute;
        top: 65px;
        background-color: black;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        transition: 0.3s ease;
    }
    .menu li a {
        display: block;
        text-align: center;
        width: 100%;
    }
    .btn-menu {
        display: block;
        margin-right: 30px;
    }
    .hidden {
        display: none;
    }
    .show {
        display: block;
    }
}


